body {
   font-family: helvetica, sans-serif;
   margin: 4em;
}

textarea#namefield {
   font-family: helvetica, sans-serif;
   font-size: 18pt;
   line-height: 22pt;
   width: 100%;
}

footer {
   font-size: .8em;
}

.form-container {
   width: 45%;
   max-width: 550;
}

.preview-container {
   width: 45%;
   /* height: 550; */
   max-width: 550;

}

.download-pdf {
   padding: 24px 42px;
}


@media only screen and (max-width: 767px) {
   .preview-container {
      width: 95%;
   }   
   .form-container  {
      width: 95%;
   }

}